* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #000;
}

.navbar {
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 40px;
    color: white;
    text-transform: capitalize;
    margin-top: 10px;


}
.divlogo{
    height: 50%;
    
}
#d1:hover {
  border-bottom: 2px dotted white;
}
#s1:hover {
    border-bottom: 2px dotted white;
  }
#c1:hover {
    border-bottom: 2px dotted white;
  }
#o2:hover {
    border-bottom: 2px dotted white;
  }

.divnav2 {
    display: flex;
    background-color: #000;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
}

.img {
    height: 70px;
    width: 185px;
    background-image: url(cocacola-withback-removebg-preview.png);
    background-size: cover;
    background-position: 50% 100%;

}

.linbar {
    width: 80px;
    height: 2.5px;
    background-color: red;

}

.part {
    height: calc(100% - 99px);
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.part1 {
    width: 36%;
    color: aliceblue;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-right: 7.5%;
    padding-left: 4.5%;
 
}

.part1 h1 {
    font-size: 39px;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 600;
}

span {
    color: red;
    font-weight: 300;
}

.part1 p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;

}

.part2 {

    width: 28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
  
    
}

.part22 {
    height: 80%;
    width: 80%;
    border-top-right-radius: 700px;
    border-top-left-radius: 700px;
    background-image: url(cokebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 26.9% 50%;
    filter: blur(2.5px);
  
}

  

.part3 {
 
    width: 37%;
    height: 100%;
    padding-left: 4%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.p1,.pclass{
    opacity: 0.6;
    color: #ffffff;
}
.p1:hover {
    opacity: 1;
}
.part3 .pclass {
    text-align: justify;
    font-size: 10px;
    margin-top: 10.5px;
    width: 83.5%;

}
button:hover{
    background-color: rgba(255, 0, 0, 0.692)
}
 
button {
    background-color: red;
    color: aliceblue;
    width: 115px;
    font-size: 14.5px;
    border-radius: 25px;
    border: none;
    padding: 10px;
    margin-right: 20px;
}

.button-div {
    display: flex;
    align-items: center;

}
.divlogo:hover{
    transform: rotate(360deg);
 
}
#img1 {
    height: 20px;
}

.part2>img {
    height: 95%;
    position: absolute;
    top: 4%
}

.p1 {
    height: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    height: 30px;
    padding: 5px;
}

.divlogo {
    display: flex;
}

@media (width <=1175px) {
    .part2 {
        width: 30;
    }

    .part1 {
        width: 30;
    }

    .part3 {
        width: 40;
    }

    .navbar .img {
        width: 180px;
    }

    .part22 {
        width: 90%;
    }
}

@media (width <=1146px) {

    #d1,
    #c2,
    #b1,
    #s1,
    #c1,
    #o2 {
        display: none;
    }

    .divnav2 {
        justify-content: center;
    }
}

@media (width <= 1235px) {

    html,
    body {
        width: 100%;
        height: 150%;
    }

    .part {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .part1 {
        width: 60%;
        height: 30%;
    }

    .part2 {

        position: relative;
        height: 45%;
        width: 100%;
        margin-top: 30px;

    }

    .part22 {
        height: 85%;
        width: 75%;
        margin-top: 10px;
    }

    .part2>img {
        height: 100%;
        position: absolute;
        top: 0px;
    }

    .part3 {
        margin-top: 15px;
        height: 25%;
        width: 70%;
    }

    .part3 .pclass {
        text-align: justify;
        font-size: 10px;
        width: 100%;
    }

    .p1 {

        width: 100%;

    }

}



@media (width <=542px) {
    .divnav2 {
        width: 90%;
    }

    .img {
        width: 90px;
    }

    h2 {
        line-height: ;
    }

    .part1 h1 {

        line-height: 38px;

    }

    .part1 p {

        line-height: 18.5px;


    }
}

@media (width <=512px) {

    html,
    body {
        height: 150%;
    }

    .part1 h1 {
        font-size: 28px;
    }

    .part1 {
        margin-bottom: 20px;
    }

    .part1 p {
        font-size: 13.5px;

    }

    .linbar {
        width: 60px;
    }


}

@media (width <=494px) {
    .linbar {

        width: 45px;

    }

    .divnav2 .img {
        width: 50%;
    }

}

@media (width <=483px) {
    .divnav2 .img {
        width: 60%;
    }
}

@media (width <=422px) {

    .navbar .divlogo,
    .divnav3 {
        display: none;

    }

    .navbar {
        padding: 0;
        height: 110px;

    }

    .divnav2 {
        min-width: 100%;
        height: 100%;
    }

    .img {
        width: 60%;
        height: 80%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }

    .linbar {
        width: 70px;
    }

}

  
@media (width <=325px) {

    .part2 {
        width: 100%;
    }

    .part22 {
        width: 70%;
    }

    .part2  img {
        
        max-height: 85%;
        width: auto;
    }
    .part3{
        justify-content: start;
        height: auto;
    }
} 
@media (width <=305px) {

    .button-div{
        display: flex;
        flex-direction: column;
    
    }
    #img1{
        margin: 15px;
    }
  
} 
 @media (width <= 268px) {
    html,body{
        height: 1230px;
    }
.part{
    height: 1100px;
}
 .part1{
        width: 85%;
        height: auto;
 }
 .part1 h1 {
    font-size: 20px;
    line-height: 22.5px;
 }
 .part1 p {
    font-size: 14px;
 }

 .part2 > img{
     height: 80%;
 }
 .part22{
    height: 80%;
 }
 .part2{
    height: 500px;
 }
 .part3{
    height: 220px;
    margin-top: 0;
    padding: 0;
 }
} 

@media (width <= 227px) {

    .part22{
       width: 95%;
       
    }


 }   
    @media (width <= 130px) {

       p,h1,img{
        overflow: auto;
       }
       .part2{
        height: 420px;
    }
        } 
