
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 

}
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a2438; 
   
}
.calculator{
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: black;
  border-radius: 20px;
  position: relative;
  z-index: 10;
 background-color: #352f44;
  box-shadow: 2px 2px 10px #dbd8e3;
  color: #dbd8e3;

}
.div1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color: #352f44;
  overflow: hidden;

  /* background-color: azure; */
}
.div2{
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 50%;
  background-color: #352f44;
  flex-wrap: wrap;

}
 input{
   width: 100%;
   font-size: 65px;
   padding: 0px 15px 15px 15px;
   outline: none;
    border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   border: none;
   margin-bottom: 20px;
   background-color: #352f44;
   color: #dbd8e3;
   cursor: default;
    font-family: "Ojuju", sans-serif;
   font-optical-sizing: auto;
   font-style: normal; 
    text-align: end;
   /* caret-color: aqua; */
   /* direction: rtl; */
   /* text-align: right; */
   /* background-color: aqua;  */
   /* direction: rtl; 
   text-align: start; */
}  
#equation{
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 10px;
  padding-right: 15px;
  color: #dbd8e3;
  font-size: 30px;
  text-align: right;
  background-color: #352f44;
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  overflow: scroll;

}
.display{
     width: 100%;   

}

::-webkit-scrollbar {
  display: none;
}
button{
   font-size: 25px;
   font-weight: bold;
   border: none;
   outline: none;
   padding: 15px 30px;
   border-radius: 20%;
   color: #dbd8e3;
   background-color: #352f44;
   box-shadow: 2px 2px 5px #1d1927,-2px -2px 5px #1d1927;
}
.button-div2{
  
  padding: 15px 21px;
}
.color{
   color: #ffebbb; 
   font-size: 25px;
}
@media (width <= 522px) {
    .calculator{
      width: 90%;
      height: auto;
    }
    button{
      font-size: 20px;
      padding: 10px 25px;
   }
   #font{
    font-size: 18px;
   }
}
@media (width <= 396px) {

 
  .calculator{
    padding: 10px;
  }
    

}
@media (width <= 350px) {


  button{
     margin-top: 20px;
  }

}

@media (width <= 183px) {


  *{
    overflow: auto;
  }

}